{% extends "base.html"%}
{% block start %}
<form method ="Post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label"> <b> First Name </b></label>
        <input name= "fname" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your First Name ">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"> <b> Last Name  </b></label>
        <input  name= "lname" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Last Name ">
      </div>
   
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> <b> Username </b> </label>
      <input name= "username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"><b> Password </b></label>
      <input name= "password" type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Login </button>
  </form>
  <br> 
  <p> Don't have an account? <a href="{% url 'register' %}"> Register </a>   </p>
{% endblock %}