
{% extends "base.html" %}
{% block start %}
<div> <a href="{% url 'mainpage' %}"> MainPage </a>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search Recipes Here" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search </button>
                </form>
              </div>
            </div>
          </nav>
    </div>

  <div class="container">
    <form method="post" enctype="multipart/form-data" >
        <!--  enctype="multipart/form-data" this is for the image upload ,if this is not used, you cannot upload image -->
        {% csrf_token %}
        <!-- this is used to prevent csrf attack, used only with post method, generates a unique token each time user submits its request. -->
        <h2> Add Your Recipes </h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input name= "recipe_name" required type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Vegetables Included </label>
          <input name= "veg_included" required type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"> Recipe Description </label>
            <input name= "recipe_descrip" required type="text" class="form-control">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"> Vegetables Image </label>
          <input name= "veg_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Recipe </button>
      </form>
 
  </div>
{% endblock%}


{% block title %}
Recipe Page
{% endblock %}

 

